main {
  min-height: 80vh;
}

body {
  background-color: whitesmoke;
}

.fa-heart,
.fa-comments {
  font-size: 1.5em;
}

#card-username-date {
  display: inline-block;
}

#post-card {
  margin-left: auto;
  margin-right: auto;
}

#login-container {
  background-color: white;
}

#signup-container {
  background-color: white;
}

#login-page-image {
  height: 35rem;
}
