main {
  min-height: 80vh;
}

body {
  background-color: whitesmoke;
}

.fa-heart,
.fa-comments {
  font-size: 1.5em;
}

#post-card {
  margin-left: auto;
  margin-right: auto;
}

#login-page-image {
  height: 35rem;
}

header img {
  height: 1.8rem;
}

.white-background {
  background-color: white;
}

.details-text {
  font-size: 1.15rem;
}
